# ================ #
#       Mine       #
# ================ #
ATiPhoneVtry1/
AndroidDevice.apk
AndroidDeviceAdreno.apk
Assets/oldGPS.cs
Assets/oldGPS.cs.meta
Assets/NewBehaviourScript.cs
Assets/NewBehaviourScript.cs.meta

# =============== #
# Unity generated #
# =============== #
Temp/
obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
